<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="../static/css/register.css" rel="stylesheet" type="text/css" />
    <title>Register</title>
  </head>
  <body>
    <div class="popup">
      <div class="close-btn">&times;</div>
      <div class="form">
          <h2>Register</h2>
          <div class="form-element">
              <label for="email">Username</label>
              {{ form.username(class="form-element__input", id="username") }}
            </div>
          <div class="form-element">
              <label for="email">Password</label>
              {{ form.password(class="form-element__input", id="password") }}
            </div>
          <div class="form-element">
            <label for="email">Re-Enter Password</label>
            {{ form.password(class="form-element__input", id="password") }}
          </div>
          <div class="form-element">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter your email">
          </div>
          <div class="form-element">
              <button>Sign Up</button>
          </div>
      </div>
  </div>
  </body>
</html>
