.chat-container {
  height: 700px;
  overflow-y: scroll;
  padding: 15px;
}

.chat-box {
  padding: 0;
}

.bot-message,
.user-message {
  display: block;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.bot-message {
  color: #333;
}

.user {
  color: #007bff;
  text-align: right;
}

.break {
  height: 10px;
}