/* Below is the common CSS for consistent styling over different pages */

body {
  font-family: Arial, sans-serif;
  background-color: #ededed;
}

.vertical-center {
  /* Add this to the child element's class when you want to center vertically */
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
