/* Below is the common CSS for consistent styling over different pages */

body {
  font-family: Arial, sans-serif;
  background-color: #EDEDED;
}

.vertical-center {
  /* Add this to the child element's class when you want to center vertically */
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Below is CSS specific for the landing apge */ 

#main {
  width: 90%;
}

#top {
  margin-top: 1em;
}

#logo {
  font-size: 1.5em;
}

#login-buttons {
  float: right;
}

/* Below is CSS specific for the Chat Page */

.chat-container {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
}

.chat-box {
  padding: 0;
}

.bot-message,
.user-message {
  display: block;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.bot-message {
  color: #333;
}

.user {
  color: #007bff;
  text-align: right;
}

.break {
  height: 10px;
}



/* For trouble shooting */
/*
div {
  border: solid black;
}
*/