<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/landing.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <div>
      <h1>Welcome to Our App</h1>
      <button id="launchAppBtn">Launch App</button>
    </div>
    <script>
      document
        .getElementById("launchAppBtn")
        .addEventListener("click", function () {
          window.location.href = "/login";
        });
    </script>
  </body>
</html>
