<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <form id="login-form" class="auth-form">
        <h2>Welcome Back</h2>
        <input type="text" placeholder="Enter your Username" required />
        <input type="password" placeholder="Enter your Password" required />
        <button type="submit" id="launchAppBtn">Login</button>
      </form>
      <button id="registerBtn">Register</button>
      <a href="#">Contiue as guest</a>
      <a href="#">Forgot your password?</a>
    </div>

  </body>
  <script>
    document
      .getElementById("launchAppBtn")
      .addEventListener("click", function () {
        window.location.href = "/app";
      });
    document
      .getElementById("registerBtn")
      .addEventListener("click", function () {
        window.location.href = "/register";
      });
  </script>
</html>
