<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <div class="popup">
      <div class="close-btn">&times;</div>
      <div class="form">
          <h2>Welcome Back</h2>
          <div class="form-element">
              <label for="email">Username</label>
              <input type="text" id="email" placeholder="Enter your Username">
          </div>
          <div class="form-element">
              <label for="email">Password</label>
              <input type="password" id="password" placeholder="Enter your Password">
          </div>
          <div class="form-element">
              <button>Log in</button>
          </div>
          <div class="form-element2">
            <button>Register</button>
        </div>
          <div class="form-element">
              <a href="#">Forgot your password?</a>
          </div>
      </div>
  </div>
  </body>
  <script>
    document
      .getElementById("launchAppBtn")
      .addEventListener("click", function () {
        window.location.href = "/app";
      });
    document
      .getElementById("registerBtn")
      .addEventListener("click", function () {
        window.location.href = "/register";
      });
  </script>
</html>
