<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/auth.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <form id="register-form" class="auth-form">
        <h2>Register</h2>
        <input type="text" placeholder="Username" required />
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Password" required />
        <input type="password" placeholder="Confirm Password" required />
        <button type="submit">Register</button>
      </form>
      <p>
        Already have an account? <button id="launchAppBtn">Register</button>
      </p>
    </div>
  </body>
</html>
